#header-container {
    width: 100%;
    max-width: 1920px;
    height: 70px;

    position: fixed;
    top: 0;
    
    z-index: 110;

    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.header-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

.header-image {
    font-size: 30px;
    display: inline;
    z-index: 1;
}

.header-menu{
    z-index: 1;
}

.header-search{
    width: 240px;
    z-index: 1;
}

.header-menu-button{
    overflow: inherit;
    position: relative;
    list-style: none;
}

.menu-button{
    justify-content: center;
    position: relative;
    display: flex;
    gap: 30px;
}

.travel-button,
.hotel-button,
.community-button,
.contact-button{
    font-size: 20px;
    margin: 0 2%;

    white-space: nowrap;

    min-width: 100px;
    max-width: 300px;

    line-height: 32px;
    text-align: center;

    overflow: hidden;
    text-overflow: ellipsis;
}

.search-bar{
    display: flex;
}

.search-icon{
    margin-top: 3px;
}

a, .search-bar{
    text-decoration: none;
    color: #237067;
}

.header-contents a:hover{
    cursor: pointer;
    color: #e1c1bbf1;
}
.search-icon:hover{
    cursor: pointer;
}

input{
    width: 260px;
    margin-right: 2px;
    border-width: 0 0 3px;
    line-height: 2;
    border-radius: 3px;
    outline: none;
    background-color: inherit;
}

input:focus{
    outline: 2px solid #181b124a;
}

ul{
    list-style: none;
}